/* --- Font --- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
/* --- Variables --- */
:root {
  --photo-size: 20rem;
  --quotes-width: 12rem;
  --light-clr: #ffffff;
  --buttons-width: 8rem;
  --buttons-height: 4rem;
  --grayish-blue-clr: hsl(240, 18%, 77%);
  --dark-blue-clr: hsl(240, 38%, 20%);
}
/* --- Globals Styles --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}
p {
  margin: 0;
}
figure {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  max-width: 120rem;
  /* 1440px */
  margin: 0 auto;
  padding: 1.6rem;
}
/* --- Utils --- */
.bg {
  z-index: -1;
}
.curve-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 15rem;
}
.figures-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.quotes-bg {
  --width-position: calc(var(--quotes-width) / 2);
  position: absolute;
  width: var(--quotes-width);
  left: calc(50% - var(--width-position));
}
/* --- Slider Image --- */
.slider--image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.photo--container {
  position: relative;
  width: var(--photo-size);
  height: var(--photo-size);
  box-shadow: -0.2rem 2.5rem 4.5rem -3.1rem rgba(39, 39, 107, 1);
}
.photo--container img {
  width: 100%;
  height: 100%;
}
.buttons--container {
  --width-position: calc(var(--buttons-width) / 2);
  --height-position: calc(var(--buttons-height) / 2);
  position: absolute;
  width: var(--buttons-width);
  height: var(--buttons-height);
  bottom: calc(var(--height-position) * -1);
  left: calc(50% - var(--width-position));
  background-color: var(--light-clr);
  font-size: 0;
  border-radius: 2rem;
  overflow: hidden;
}
.button--arrow {
  height: 100%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: var(--light-clr);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.button--arrow#prev {
  background-image: url("./images/icon-prev.svg");
}
.button--arrow#next {
  background-image: url("./images/icon-next.svg");
}
/* --- Slider Description --- */
.slider--description {
  position: relative;
  padding-top: 3rem;
  width: 100%;
  height: 50%;
  text-align: center;
}
.slider--description-testimonial {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--dark-blue-clr);
}
.slider--description-info {
  margin-top: 1.5rem;
}
.slider--description-name {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--dark-blue-clr);
}
.slider--description-career {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--grayish-blue-clr);
}
@media screen and (min-width: 375px) {
  :root {
    --photo-size: 25rem;
  }
  .slider--description-testimonial {
    font-size: 1.9rem;
  }
  .slider--description-name {
    font-size: 1.6rem;
  }
  .slider--description-career {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --photo-size: 35rem;
    --buttons-width: 10rem;
    --buttons-height: 5rem;
  }
  /* --- Globals --- */
  .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 2rem;
  }
  /* --- Utils --- */
  .quotes-bg {
    position: absolute;
    width: var(--quotes-width);
    left: 15%;
  }
  /* --- Components --- */
  .slider--image {
    width: 50%;
  }
  .slider--description {
    width: 50%;
    height: auto;
    padding: 0;
    text-align: left;
  }
  .slider--description-testimonial {
    width: 50rem;
    padding-top: 6rem;
    font-size: 2.6rem;
  }
  .slider--description-info {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
  }
  .slider--description-name {
    font-size: 1.8rem;
  }
  .slider--description-career {
    font-size: 1.8rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1290px) {
  :root {
    --photo-size: 55rem;
  }
  .container {
    padding: 0;
  }
  .curve-bg {
    max-width: 50%;
  }
  .slider--image {
    width: 60%;
    height: 70rem;
  }
  .slider--description {
    width: 40%;
  }
  .slider--description-testimonial {
    width: 65rem;
    font-size: 3.2rem;
  }
}
